NODE_ENV=development

POSTGRES_USER=alpii
POSTGRES_PASSWORD=alpii_password
POSTGRES_DB=alpii
POSTGRES_PORT=5432
DATABASE_URL=postgresql://alpii:alpii_password@postgres:5432/alpii?schema=public

REDIS_PORT=6379
REDIS_URL=redis://redis:6379

MINIO_ROOT_USER=alpii_minio
MINIO_ROOT_PASSWORD=alpii_minio_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_PUBLIC_BUCKET=public
MINIO_PRIVATE_BUCKET=private

PORT=4000
BACKEND_PORT=4000
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:4000
